.content{
    width: 100vw;
    height: fit-content;
    background-color: $pure-white;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 65px;
    &__search{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        &--bar{
            width: 288px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $light-grey;
            border-radius: 10px;
            position: relative;
            &__magnifying{
                position: absolute;
                left: 12px;
            }
            &__input{
                width: 70%;
                border: none;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 16.34px;
                text-align: center;
                color: $darker-grey;
            }
        }
        &--arrow{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 6px;
        }
    }
}

// Links
.links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    &__title{
        height: 38px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 3rem;
        line-height: 31.5px;
        text-align: center;
        background: $gradient-linear-dark-red;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 3px;
    }
    &__subtitle{
        font-family: 'Eina03', sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 17.58px;
        text-align: center;
        color: $mere-black;
        margin-bottom: 8px;
    }
    &__wrapper{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    &__item{
        width: 276px;
        height: 154px;
        border-radius: 9px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -4px 0px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $pure-white;
        img{
            height: 99px;
        }
        &--bottom{
            width: 100%;
            height: 55px;
            text-align: center;
            background-color: $cherry-red;
            border-bottom-right-radius: 9px;
            border-bottom-left-radius: 9px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-family: 'Eina01', sans-serif;
                font-weight: bold;
                font-size: 1.954rem;
                line-height: 18.82px;
                text-align: center;
                color: $pure-white;
            }
        }
    }
    
}