.content{
    width: 100vw;
    height: fit-content;
    background-color: $pure-white;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 102px;
    &__search{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        &--bar{
            width: 288px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $light-grey;
            border-radius: 10px;
            position: relative;
            &__magnifying{
                position: absolute;
                left: 12px;
            }
            &__input{
                width: 70%;
                border: none;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 16.34px;
                text-align: center;
                color: $darker-grey;
            }
        }
        &--arrow{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 6px;
        }
    }
    &__slider{
        width: 100%;
        height: 175px;
        overflow-x: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 24px;
        margin-top: 24px;
        &--item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__circle{
                border-radius: 50%;
                border-width: 2px;
                border-style: solid;
                border-color: $blue-visitKL;
                padding: 3px;
                margin-bottom: 13px;
            }
            h3{
                font-family: 'Eina03', sans-serif;
                font-weight:  bold;
                font-size: 1.5rem;
                line-height: 15px;
                color: $pure-black;
                text-align: center;
            }
        }
    }
    &__pics{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--title{
            font-family: 'Poppins', sans-serif;
            font-weight:  600;
            font-size: 2rem;
            line-height: 30px;
            text-align: center;
            background: $gradient-linear-dark-red;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--grid{
            width: auto;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: 13px;
            &__item{
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                h3{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: 'Poppins', sans-serif;
                    font-weight:  600;
                    font-size: 1.8rem;
                    line-height: 27px;
                    text-align: center;
                    color: $pure-white;
                }
            }
        }
    }
}
.content__search--bar__input:focus{
    outline: none;
}
.content__search--bar__input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 16.34px;
    text-align: center;
    color: $darker-grey;
}