@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina04";
  src: url("../fonts/Eina04-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Eina01", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #F4F4F4;
  background-attachment: fixed;
}

header {
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  z-index: 10;
  background-image: url("../src/images/main_background.png"), radial-gradient(101.05% 46.71% at 50% 50.86%, #E21118 0%, #AE0F13 100%);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .back {
  position: absolute;
  left: 30px;
}
header .logout {
  position: absolute;
  right: 30px;
}

.header__left {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}
.header__left img {
  margin-right: 16px;
}
.header__left p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 19.8px;
  color: #FFFFFF;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 12px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

main {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  min-width: 320px;
  position: relative;
}

.content {
  width: 100vw;
  height: fit-content;
  background-color: #FFFFFF;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 102px;
}
.content__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 41.4px;
  color: #E51C21;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.content__carousel {
  width: 100vw;
  height: 375px;
  overflow-x: scroll;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-left: 405px;
}
.content__carousel--item {
  width: 374px;
  height: 336.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 13.36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content__carousel--item__bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content__carousel--item__bottom--title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #252525;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 23px;
  border-bottom: 1px solid #E7E7E7;
  padding-left: 21px;
  padding-right: 21px;
}
.content__carousel--item__bottom--division {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 21px;
  padding-right: 21px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.content__carousel--item__bottom--division__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.content__carousel--item__bottom--division__wrapper p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #252525;
  text-align: left;
}
.content__more {
  width: 82.5%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content__more--subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 37.29px;
  color: #E51C21;
  text-align: left;
  margin-top: 28px;
  margin-left: 13px;
  margin-bottom: 13px;
}
.content__more--item {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 26px;
}
.content__more--item__body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.content__more--item__body--title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.781rem;
  line-height: 26.71px;
  color: #252525;
  text-align: left;
  margin-bottom: 2px;
}
.content__more--item__body--text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.336rem;
  line-height: 20px;
  color: #252525;
  text-align: left;
}
.content__more--item__body--division {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 13px;
}
.content__more--item__body--division__wrapper {
  display: flex;
}
.content__more--item__body--division__wrapper img {
  margin-right: 4px;
}
.content__more--item__body--division__wrapper p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.997rem;
  line-height: 14.95px;
  color: #252525;
  text-align: left;
}

footer {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=events.css.map */
