@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina01";
  src: url("../fonts/Eina01-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina02";
  src: url("../fonts/Eina02-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Eina03";
  src: url("../fonts/Eina03-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Eina04";
  src: url("../fonts/Eina04-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Eina01", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #F4F4F4;
  background-attachment: fixed;
}

header {
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  z-index: 10;
  background-image: url("../src/images/main_background.png"), radial-gradient(101.05% 46.71% at 50% 50.86%, #E21118 0%, #AE0F13 100%);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .back {
  position: absolute;
  left: 30px;
}

.header__left {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}
.header__left img {
  margin-right: 16px;
}
.header__left p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 19.8px;
  color: #FFFFFF;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 12px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.header__right {
  position: absolute;
  right: 30px;
}

.logout {
  position: absolute;
  right: 30px;
}

main {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  min-width: 320px;
  position: relative;
}

.content {
  width: 100vw;
  height: fit-content;
  background-color: #FFFFFF;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}
.content__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
  gap: 75.5px;
  margin-bottom: 30px;
}
.content__top--title {
  margin-left: 20px;
}
.content__top--links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.content__top--links__item--grey {
  opacity: 0.5;
}

.form__container {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
  gap: 25px;
}
.form__container--text {
  font-family: "Eina02", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 19px;
  color: #252525;
  text-align: left;
}
.form__container--fill {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.form__container--fill span {
  height: fit-content;
  font-family: "Eina02", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  text-align: left;
  margin-bottom: 10px;
}
.form__container--fill input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #E51C21;
  background-color: transparent;
}
.form__container--fill textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #E51C21;
  background-color: transparent;
}
.form__container--submit {
  width: 128px;
  height: 31px;
  text-align: center;
  background-color: #E51C21;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  font-family: "Eina02", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 16px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form__container--file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.form__container--file span {
  height: fit-content;
  font-family: "Eina02", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 6px;
}
.form__container--file__cover {
  width: 297.71px;
  height: 171px;
  background-image: url("../src/icons/upload_file.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
}
.form__container--file__cover input {
  display: none;
}

.form__container--fill textarea:focus {
  outline: none;
}

.form__container--fill textarea::placeholder {
  height: fit-content;
  font-family: "Eina02", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  color: #9C9C9C;
  text-align: left;
}

.form__container--fill input::placeholder {
  height: fit-content;
  font-family: "Eina02", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  color: #9C9C9C;
  text-align: left;
}

.form__container--fill input:focus {
  outline: none;
}

footer {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=gallery-form.css.map */
